<p id="notice"><%= notice %></p>

<h1>Parcels List</h1>

<br />

<%= link_to 'New Parcel', new_parcel_path %> <br/>

<%= link_to 'Download as Excel', parcels_path(format: :xlsx)
%>


<br /><br />

<table>
  <thead>
    <tr>
      <th>Parcel Id</th>
      <th>Weight</th>
      <th>Status</th>
      <th>Service Type</th>
      <th>Payment Mode</th>
      <th>Sender</th>
      <th>Receiver</th>
      <% if current_user.present? && current_user.is_admin? %>
        <th colspan="5">Actions</th>
      <% else %>
        <th colspan="3">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.id %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.status %></td>
        <td><%= parcel.service_type.present? ? parcel.service_type.name : '' %></td>
        <td><%= parcel.payment_mode %></td>
        <td><%= parcel.sender.present? ? parcel.sender.name : '' %></td>
        <td><%= parcel.receiver.present? ? parcel.receiver.name : '' %></td>
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_user.present? && current_user.is_admin? %>  
          <td><a href="/parcels/change_status/<%= parcel.id %>">Change Status</td>
          <td><a href="/parcels/history/<%= parcel.id %>">History</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>